body{
    background-image: url('./asset/background.jpg');
    text-align: center;
}

h1{
    color: white;
    margin: 1em auto;
    padding: 0.5% 5% 0.5% 5%;
    background-color: rgba(0,0,0,0.3);
    font-weight: 750;
}

p{
    margin-top: 10px;
}

.center-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.emptybox{
    text-align: center;
    vertical-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }

.title{
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    padding-top: 22px;
}

.small{
    margin-top: 35px;
    color: azure;
}

.addToDo{
    position: fixed;
    bottom:5%;
}

.complete{
    align-self: flex-end;
}