body{
    background-image: url('./asset/background.jpg');
    text-align: center;
}

h1{
    color: white;
    margin: 1em auto;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    font-weight: 750;
}

.box{
    padding: 5px;
    background-color: white;
    border-radius: 1%;
    max-width: 550px;
    margin: 1em auto;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
    border: 10px;
    border-color: rgba(0,0,0,0.3);
    align-content: center;
}

.emptybox{
    text-align: center;
    vertical-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }

.title{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #00204a;
}

.small{
    margin: 0;
    padding: 20px;
}